footer {
  background-color: #353535;
  color: #ffff;
  padding: 30px;
}
footer img.footer-logo {
  filter: invert(100%);
  padding: 15px;
  padding-left: 0;
  width: 150px;
  object-fit: cover;
}
footer nav {
  margin-left: -2.5rem;
}
footer p {
  margin-top: 0;
}

i.footer-restaurant {
  margin-right: 22px;
}

i.footer-link {
  margin-right: 15px;
}

ul.footer {
  list-style: none;
  flex-direction: column;
}
ul.footer li {
  padding-bottom: 20px;
}

a.footer-mail_link {
  text-decoration: none;
  color: #ffff;
}

img.header-logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

div.back_main i {
  color: black;
}

#bloc_page {
  font-family: "roboto", sans-serif;
  width: 100%;
}

h1.title-menu {
  font-family: "Shrikhand", sans-serif;
}

button.command {
  color: #ffff;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 50px;
  box-shadow: 0.4em 0.4em 0.4em #ccc6c6;
  width: 180px;
  height: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8rem;
  transition: filter 0.3s ease-in, box-shadow 0.4s;
}
@media (min-width: 768px) {
  button.command {
    width: 300px;
    height: 50px;
    font-size: 100%;
  }
}
button.command:hover {
  filter: brightness(110%);
  box-shadow: 0.4em 0.4em 0.4em #4e4545;
}

header .back_main {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-bottom: -30px;
}

article {
  width: 100%;
  margin-top: -110px;
}
@media (min-width: 768px) {
  article {
    margin-top: -300px;
  }
}

div.picture--menu {
  object-fit: cover;
}
div.picture--menu img {
  width: 100%;
}

h2.menu {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 30px;
}
h2.menu span {
  border-bottom: 5px solid #99e2d0;
}

@media (min-width: 768px) {
  div.block_menu {
    display: flex;
  }
}

div.description {
  background-color: #ffff;
  border-radius: 1.5rem;
  box-shadow: 0.4em 0.4em 0.4em #dedede;
  margin: 1.5rem;
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 768px) {
  div.description {
    width: 45%;
    margin: 1.5rem;
  }
}
@media (min-width: 768px) {
  div.description {
    width: 44%;
  }
}
div.description:hover span.validation {
  width: 30px;
  padding: 1.45rem;
  opacity: 1;
}
div.description:hover i {
  animation: check_ok 0.5s linear 1;
}
div.description:hover .price {
  right: 90px;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
div.description:hover .name {
  width: 50%;
  transition: 0.5s ease-in;
}
div.description:hover .precision {
  width: 50%;
  transition: 0.5s ease-in;
}
div.description p.name {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}
@media (min-width: 768px) {
  div.description p.name {
    padding-top: 0;
  }
}
div.description p.precision {
  font-size: 0.9rem;
  padding: 15px;
  padding-top: 0;
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}
@media (min-width: 768px) {
  div.description p.precision {
    padding-bottom: 0;
    margin-bottom: 0.7rem;
  }
}
div.description p.price {
  font-weight: bold;
  font-size: 0.9rem;
  position: absolute;
  right: 30px;
  top: 23px;
}
@media (min-width: 768px) {
  div.description p.price {
    top: 27px;
  }
}

span.validation {
  background: #99e2d0;
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 1.45rem;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
  width: 0px;
  transition: width 0.5s ease-in;
}
span.validation i {
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
}

@keyframes check_ok {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.menu {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5rem 5rem 0 0;
  position: relative;
  z-index: 1;
}
div.menu h1 {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 50px;
}
@media (min-width: 768px) {
  div.menu h1 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
}
div.menu i.fa-heart {
  margin-right: -20px;
}
@media (min-width: 768px) {
  div.menu i.fa-heart {
    padding-left: 20px;
  }
}

.top {
  opacity: 0;
  animation: plate 1.5s cubic-bezier(0.2, 0.13, 0.17, 0.77) 1;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.mid {
  opacity: 0;
  animation: plate 1.5s cubic-bezier(0.2, 0.13, 0.17, 0.77) 1;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.bottom {
  opacity: 0;
  animation: plate 1.5s cubic-bezier(0.2, 0.13, 0.17, 0.77) 1;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes plate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    margin-bottom: -50px;
  }
  100% {
    margin-top: 0px;
  }
}
div.button--command {
  padding-top: 60px;
  padding-bottom: 100px;
}

@font-face {
  font-family: "Roboto";
  src: url(Polices/Roboto-Regular.ttf) format("truetype");
  font-family: "Shrikhand";
  src: url(Polices/Shrikhand-Regular.otf) format("truetype");
}
#bloc_page {
  font-family: "roboto", sans-serif;
  width: 100%;
}

span.loading {
  background: linear-gradient(#9356dc, #ff79da);
  width: 150px;
  height: 150px;
  position: fixed;
  top: 35%;
  right: 25%;
  z-index: 2;
  border: 30px solid #9356dc;
  border-radius: 50%;
  border-top: 30px solid #ff79da;
  border-bottom: 60px solid #9356dc;
  border-left: 15px solid #99e2d0;
  border-right: 20px solid #99e2d0;
  animation: loader 1.5s linear 1;
  animation-fill-mode: forwards;
}
@media (min-width: 768px) {
  span.loading {
    right: 35%;
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  span.loading {
    right: 30%;
    width: 350px;
    height: 400px;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(150deg);
  }
  60% {
    transform: rotate(250deg);
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    z-index: -1;
  }
}
span.back_loader {
  width: 100%;
  height: 100%;
  background: linear-gradient(#99e2d0, #ff79da);
  z-index: 1;
  position: fixed;
  animation: back_load 1.5s linear 1;
  animation-fill-mode: forwards;
}

@keyframes back_load {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    z-index: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    z-index: -1;
  }
}
div.search {
  font-family: "roboto", sans-serif;
  background-color: #eaeaea;
  border-top: solid #d3d3d3;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
div.search form {
  text-align: center;
  margin-left: 50px;
  font-weight: bolder;
}
div.search input {
  background-color: #eaeaea;
  border: none;
  font-size: 1rem;
}

div.introduction {
  font-family: "roboto", sans-serif;
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 60px;
}
div.introduction h1 {
  text-align: center;
  font-size: 1.5rem;
}
div.introduction h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.1rem;
  margin-right: 10px;
}
div.introduction button.introduction {
  color: #ffff;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 50px;
  box-shadow: 0.4em 0.4em 0.4em #ccc6c6;
  width: 180px;
  height: 40px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8rem;
  transition: filter 0.3s ease-in, box-shadow 0.4s;
  margin-top: 30px;
}
@media (min-width: 768px) {
  div.introduction button.introduction {
    width: 300px;
    height: 50px;
    font-size: 100%;
  }
}
div.introduction button.introduction:hover {
  filter: brightness(110%);
  box-shadow: 0.4em 0.4em 0.4em #4e4545;
}

h2.main {
  padding-left: 20px;
}

div.fonctions {
  padding-bottom: 30px;
}
div.fonctions div.fonctions-btn {
  position: relative;
  padding: 10px;
  margin: 20px;
  background-color: #f2f2f2;
  border-radius: 1rem;
  box-shadow: 0.4em 0.4em 0.4em #dedede;
  border: none;
  transition: filter 0.3s 0.15s ease, box-shadow 0.4s;
  width: 80%;
}
div.fonctions div.fonctions-btn:hover {
  filter: brightness(110%);
  box-shadow: 0.4em 0.4em 0.4em #4e4545;
}
@media (min-width: 768px) {
  div.fonctions div.fonctions-btn {
    display: inline-block;
    width: 25%;
  }
}
@media (min-width: 1024px) {
  div.fonctions div.fonctions-btn {
    padding: 15px;
  }
}
div.fonctions span {
  font-size: 0.5rem;
  position: absolute;
  left: -7.5px;
  top: 18px;
  color: #ffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 6px;
  padding-left: 6px;
  background-color: #9356dc;
  border-radius: 100%;
}
@media (min-width: 768px) {
  div.fonctions span {
    font-size: 1rem;
    padding-top: 2px;
    top: 30px;
  }
}
@media (min-width: 1024px) {
  div.fonctions span {
    top: 15px;
  }
}
div.fonctions i {
  color: #7e7e7e;
  font-size: 1rem;
  margin-left: 15px;
}
@media (min-width: 768px) {
  div.fonctions i {
    font-size: 1.3rem;
    margin-top: 15px;
    position: absolute;
    top: 20px;
  }
}
@media (min-width: 1024px) {
  div.fonctions i {
    margin-top: 0px;
  }
}
div.fonctions i.fonctions-last {
  color: #9356dc;
  font-size: 1rem;
}
@media (min-width: 768px) {
  div.fonctions i.fonctions-last {
    font-size: 1.3rem;
    margin-top: 15px;
    position: absolute;
    top: 20px;
  }
}
@media (min-width: 1024px) {
  div.fonctions i.fonctions-last {
    margin-top: 0px;
  }
}
div.fonctions button {
  border: none;
  font-weight: bolder;
  font-size: 1rem;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 1024px) {
  div.fonctions button {
    padding-left: 50px;
  }
}

div.restaurants {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
div.restaurants div.card {
  background-color: #ffff;
  border-radius: 1.5rem;
  box-shadow: 0.4em 0.4em 0.4em #dedede;
  margin: 1.5rem;
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 768px) {
  div.restaurants div.card {
    width: 45%;
    margin: 1.5rem;
  }
}
div.restaurants img.pic-card {
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

@media (min-width: 768px) {
  div.bloc_card {
    display: flex;
    padding: 1.5rem;
  }
}

span.new {
  color: #32b091;
  background-color: #99e2d0;
  padding: 0.8rem;
  border-radius: 0.2rem;
  position: absolute;
  right: 10px;
  top: 15px;
}

div.name_loc {
  padding-left: 20px;
  font-size: 1.2rem;
}
div.name_loc .restaurant_name {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
div.name_loc .restaurant_loc {
  margin-top: 0;
  margin-bottom: 15px;
}

div.heart {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 25px;
}

div.full_heart {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 29px;
  bottom: 24px;
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  animation-name: f_heart;
}
div.full_heart:hover {
  opacity: 1;
  transition: 0.2s ease-in;
}
div.full_heart:hover + div.heart {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
