$colour-primary: #9356dc;    
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-background-footer:#353535;
$font-colour-secondary:#ffff;
$colour-background-topmain:#f2f2f2;
$colour-background-form:#eaeaea;
$card-colour:#ffff;
$full-heart-colour:linear-gradient($colour-secondary, $colour-primary);

$button-cd-radius:3px;
$button-menu-radius:2px;
$card-menu-radius:2px 2px 0 0;
$box-shadow-button:0.4em 0.4em 0.4em #ccc6c6;